# Entorno Local
VITE_BASE_URL=http://localhost:5173/

# Entorno de Producción (Vercel)
# En el panel de Vercel (Project Settings > Environment Variables):
# Nombre: VITE_BASE_URL
# Valor: https://react-hexagonal-ecommerce.vercel.app/
